
.teste{
    background: linear-gradient(342.3deg, #FF9C25 7.12%, #005723 100%);
}

@media screen and (max-width: 469px){
    .mt-xs-3{
        margin-top: 3rem;
    }
}
    
label:hover .text-dark{
    transition: color 0.2s ease;
    color: white !important;
}
label .text-dark{
    transition: color 0.2s ease;
}

/* CSS BOTAO ESCOLHER ENDEREÇO -- ESSA PORRA NAO TA FICANDO VERDE
.btn-check:checked+.btn-outline-success .text-dark,
.btn-check:active+.btn-outline-success .text-dark,
.btn-check:hover+.btn-outline-success .text-dark{
    transition: color 0.2s ease;
    color: white !important;
}*/

.flex-even{
    flex: 1;
    min-width: 300px;
}